/* Adjusting the top margin of the header to remove excess space above the logo */
header {
    margin-top: 0;
    background: #A9A9A9; /* Dark Gray background for logo */
}

#tournamentLogo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 0; /* Remove any top margin to lift the logo up */
    /* Rest of the styles are unchanged */
}

/* Adding spacing between sections for better visual separation */
section {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Ensure that the first section has no top margin for proper alignment */
section:first-of-type {
    margin-top: 0;
}

/* Адаптивність */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin-right: 0;
    }
}
